.ticker {
    width: 100%;
    height: auto;
    background: transparent;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.scrollContainer {
    display: flex;
    align-items: center;
    white-space: nowrap;
    animation: scroll var(--scroll-duration, 20s) linear infinite;
    will-change: transform;
}

.scrollContainer:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

.textInstance {
    display: inline-flex;
    padding: 0 60px;
}