.container {
    width: 100vw;
    height: 100vh;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.grid {
    display: grid;
    padding: 0;
    margin: 0;
}

.dot {
    border-radius: 50%;
    opacity: 0.08;
    transition: none;
}

.dot.active {
    opacity: 1;
}